* {
    margin: 0;
    padding: 0;
    /* background-color: #0e1426; */
}

body {
    height: 100vh;
    background-color: #0e1426;
}

.header {
    padding: .5rem;
    border-bottom: .5px solid whitesmoke;
    color: #8290b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    /* border-radius: 8px;
    box-shadow: 0 0 10px white; */
}

.dateDisplay {
    color: #8290b3;
    margin: 10px;
    font-size: 2rem;
}

.clockDisplay {
    font-family: 'Orbitron', sans-serif;
    ;
    color: white;
    margin: 10px;
    font-size: 4rem;
}

#clock {
    padding: 1rem;
    width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

.subHeading {
    color: #8290b3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: .5px solid whitesmoke;
}

.input-group {
    color: aliceblue;
    display: flex;
}

.alarms-list {

    padding: 0;
    color: aliceblue;
}

.alaramIteam {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    color: aliceblue;
    border-bottom: 1px solid whitesmoke;
}

.alaramIteam button {
    background-color: #4c82e7;
    border-radius: 10%;
}

.alaramIteam button:hover {
    background-color: #4c82e7;
}
